.lavoro-main-container{
    margin: 3vh 1vh 0 3vh;
    padding: 0 0 0 2vh;
    width: 90%;
    height: auto;
    margin-bottom: 4%;
}

.lavoro-title-wrapper{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: start;
    align-items: center;
}

.not-show{
    display: none;
}

.lavoro-single-item{
    margin: 5vh;
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

.work-dates{
    width: 20%;
    text-align: right;
}

.work-details{
    min-width: 80%;
}

.settore-wrapper{
    display: flex;
    flex-direction: row;
}