.informatics-main-container{
    margin: 3vh 0 0 5vh;
    padding: 0 5vh 0 0;
    width: 100%;
    height: auto;
    margin-bottom: 4%;
}

.informatics-title-wrapper{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: start;
    align-items: center;
}

.not-show{
    display: none;
}

.informatics-single-item{
    margin: 5vh;
    display: flex;
    flex-direction: row;
    gap: 3vh;
}