.card{
    min-height: 50vh;
    width: 60vh;
    background-color: white;
    padding: 2vh;
}

.card-top{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

.card-middle{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.horizontal-line{
    width: 30%;
    height: 1vh;
}

.image-container{
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1vh;
}

.card-bottom{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
    margin: 2vh 0 2vh 0;
    justify-content: center;
    align-items: center;
}

.single-grid{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2vh;
    margin-left: 1vh;
}